<!DOCTYPE html>
<html>
  <head>
    <title>API</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/main.css">
    <link rel="stylesheet" href="./public/board.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="/public/js/functions.js"></script>
  </head>
  <body>
    <header id="top-bar">
      <div>hidden</div>
      <h1 id="title">
        <a href="/">Message Board</a>
      </h1>
      <i id="info" class="far fa-question-circle"></i>
    </header>

    <div id="info-block" class ="block hidden">
      <p>
        Create threads in boards through specifying the board name, the thread topic and a password used to delete the thread.
        <br>
        Visit the API page <a href='/api'>here</a> for more.
      </p>
    </div>
    
    <main id="main">
      <div id="page-title">
        <h2 class="top">API Tests</h2>
        <hr>
      </div>

      <div class="container">
        <h3 class="container-title">New thread (POST /api/threads/:board)</h3>
        <div class="container-body">
          <form action="/api/threads/test" method="post" id="newThread" class="api-form">
            <input type='text' placeholder='board' id='board1' name='board' required=''><br>
            <textarea type='text' placeholder="thread text..." name='text' required=''></textarea><br>
            <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
            <input class="api-button" type="submit" value="Submit">
          </form>
        </div>
      </div>
    
      <div class="container">
        <h3 class="container-title">Report thread (PUT /api/threads/:board)</h3>
        <div class="container-body">
          <form id="reportThread" class="api-form">
            <input type='text' placeholder='board' id='board2' name='board' required=''><br>
            <input type='text' placeholder='id to report' name='thread_id' required=''><br>
            <input class="api-button" type="submit" value="Report thread">
          </form>
        </div>
      </div>

      <div class="container">
        <h3 class="container-title">Delete thread (DELETE /api/threads/:board)</h3>
        <div class="container-body">
          <form id="deleteThread" class="api-form">
            <input type='text' placeholder='board' id='board3' name='board' required=''><br>
            <input type='text' placeholder='id to delete' name='thread_id' required=''><br>
            <input type='text' placeholder='password' name='delete_password' required=''><br>
            <input class="api-button" type="submit" value="Delete thread">
          </form>
        </div>
      </div>
        
      <div class="container">
        <h3 class="container-title">New reply (POST /api/replies/:board)</h3>
        <div class="container-body">
          <form action="/api/threads/test" method="post" id="newReply" class="api-form">
            <input type='text' placeholder='board' id='board4' name='board' required=''><br>
            <input type='text' placeholder='thread id' name='thread_id' required=''><br>
            <textarea type='text' placeholder='Reply text...' name='text' required=''></textarea><br>
            <input type='text' placeholder='password to delete' name='delete_password' required=''><br>
            <input class="api-button" type="submit" value="Submit">
          </form>
        </div>
      </div>
        
      <div class="container">
        <h3 class="container-title">Report reply (PUT /api/replies/:board)</h3>
        <div class="container-body">
          <form id="reportReply" class="api-form">
            <input type='text' placeholder='board' id='board5' name='board' required=''><br>
            <input type='text' placeholder='thread id' name='thread_id' required=''><br>
            <input type='text' placeholder='id to report' name='reply_id' required=''><br>
            <input class="api-button" type="submit" value="Submit">
          </form>
        </div>
      </div>
        
      <div class="container">
        <h3 class="container-title">Delete reply (DELETE /api/replies/:board)</h3>
        <div class="container-body">
          <form id="deleteReply" class="api-form">
            <input type='text' placeholder='board' id='board6' name='board' required=''><br>
            <input type='text' placeholder='thread id' name='thread_id' required=''><br>
            <input type='text' placeholder='id to delete' name='reply_id' required=''><br>
            <input type='text' placeholder='password' name='delete_password' required=''><br>
            <input class="api-button" type="submit" value="Submit">
          </form>        
        </div>
      </div>
        
    </div>

    <div id="scroll-top">
      <a href="#top"><i class="fas fa-chevron-up"></i></a>
    </div>
  </main>
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script>
      $(function() {
        $('#newThread').submit(function(){
          var board = $('#board1').val();
          $(this).attr('action', "/api/threads/" + board);
        });
        $('#newReply').submit(function(){
          var board = $('#board4').val();
          $(this).attr('action', "/api/replies/" + board);
        });
        $('#reportThread').submit(function(e){
          var url = "/api/threads/"+$('#board2').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteThread').submit(function(e){
          var url = "/api/threads/"+$('#board3').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#reportReply').submit(function(e){
          var url = "/api/replies/"+$('#board5').val();
          $.ajax({
            type: "PUT",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
        $('#deleteReply').submit(function(e){
          var url = "/api/replies/"+$('#board6').val();
          $.ajax({
            type: "DELETE",
            url: url,
            data: $(this).serialize(),
            success: function(data)
            {
              alert(data);
            }
          });
          e.preventDefault();
        });
      });
   </script>
  </body>
</html>
