<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/board.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="/public/js/functions.js"></script>
    <script src="/public/js/board.js" defer></script>
  </head>

  <body>
    <header id="top-bar">
      <div>hidden</div>
      <h1 id="title">
        <a href="/">Message Board</a>
      </h1>
      <i id="info" class="far fa-question-circle"></i>
    </header>

    <div id="info-block" class ="block hidden">
      <p>
        Create threads in boards through specifying the board name, the thread topic and a password used to delete the thread.
        <br>
        Visit the API page <a href='/api'>here</a> for more.
      </p>
    </div>

    <main id="main">
      <div id="page-title">
      </div>

      <div class="container" id="new-thread-container">
        <h3 class="container-title">Submit a new thread</h3>
        <div class="container-body">
          <form id="new-thread" action="/api/threads/" method="post">
            <label>
              Thread text
            </label>
            <br>
            <textarea name="text" resizable="false" required></textarea>
            <br>
            <label>
              Delete password
            </label>
            <br>
            <input type="text" name="delete_password">
            <br> 
            <button type="submit"><i class="fas fa-plus"></i></button>
          </form>
        </div>
      </div>
      
      <div id="scroll-top">
        <a href="#top"><i class="fas fa-chevron-up"></i></a>
      </div>
    </main>
    
  </body>
</html>
