<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/main.css">
    <link rel="stylesheet" href="./public/index.css">
    <script src="./public/js/index.js"></script>
  </head>
  <body>
    <header>
      <h1 id="title">
        <a href="/">Message Board</a>
      </h1>
    </header>
    
    <div class="container">
      <h2 class="container-title">
        Create a new thread!
      </h2>
      <form id="new-thread" action="/api/threads/" method="post">
        <label>
          Board name:
        </label>
        <input type="text" name="board" required>
        <br>
        <label>
          Thread text:
        </label>
        <input type="text" name="text" required>
        <br>
        <label>
          Delete password:
        </label>
        <input type="text" name="delete_password">
        <br> 
        <input type="submit" name="Create">
      </form>
    </div>

    <div class="container">
      <h2 class="container-title">
        Visit an existing board!
      </h2>
      <form id="search-board">
        <label>
          Search board:
        </label>
        <input type="text" name="board">
        <input type="submit" value="Search">
      </form>
      <div id="boards"></div>
    </div>
  </body>
</html>
