<!DOCTYPE html>
<html>
  <head>
    <title>Message Board</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./public/main.css">
    <link rel="stylesheet" href="./public/index.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="./public/js/index.js"></script>
  </head>
  <body>
    <header id="top-bar">
      <div>hidden</div>
      <h1 id="title">
        <a href="/">Message Board</a>
      </h1>
      <span id="info" class="far fa-question-circle"></span>
    </header id="top-bar">
    
    <div id="info-block" class ="block hidden">
      <p>
        Create threads in boards through specifying the board name, the thread topic and a password used to delete the thread.
        <br>
        Visit the API page <a href='/api'>here</a> for more.
      </p>
    </div>
    
    <main id="main">
      <div class="container" id="all-boards">
        <h2 class="container-title">
          Visit an existing board!
        </h2>
        <form id="search-board">
          <label>
            Search board:
          </label>
          <input type="text" name="board">
          <input type="submit" value="Search">
        </form>
        <div id="boards"></div>
      </div>
  
      <div class="container" id="visit-boards">
        <div class="container" id="random-board">
          <h2 class="container-title">
            Visit /b/
          </h2>
          <div id="thread"></div>
        </div>

        <div class="container" id="new-board">
          <h2 class="container-title">
            Create a new thread!
          </h2>
          <form id="new-thread" action="/api/threads/" method="post">
            <label>
              Board name:
            </label>
            <input type="text" name="board" required>
            <br>
            <label>
              Thread text:
            </label>
            <input type="text" name="text" required>
            <br>
            <label>
              Delete password:
            </label>
            <input type="text" name="delete_password">
            <br> 
            <input type="submit" value="Create">
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
