@import './variables.css';

#visit-boards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 1.5em 0;
    border: none;
    background-color: transparent;
    align-items: flex-start;
    box-shadow: none;
}

#visit-boards > div {
    margin: 1.5em 0;
}

#all-boards {
    text-align: center;
}

#search-board input {
    margin: 0px 10px;
    vertical-align: middle;
}

#search-board button {
    border: 1px solid var(--border-color);
    padding: 5px 10px;
    background-color: white;
    border-radius: 15px;
}

#boards {
    margin-top: 10px;
}

#random-board {
    width: 40%;
}

#random-board .container-title {
    text-align: center;
}

#random-thread .thread{
    box-shadow: none;
}

.id {
    margin: 2px;
}

#new-board {
    width: 40%;
} 

.board-name {
    display: inline-block;
    background-color: var(--main-color);
    padding: 5px;
    margin: 2px;
    box-shadow: 0 3px 3px 0 var(--border-color);
    opacity: 1;
    transition: var(--opacity-transition-in);
}

.board-name a {
    color: white;
}

.board-name:hover {
    opacity: 0.5;
    transition: var(--opacity-transition-out);
}