:root {
    --bg-color: hsl(0, 0%, 95%);
    --main-color: hsl(219, 60%, 50%); 
    --secondary-color: hsl(219, 30%, 50%);
    --border-color: hsl(0, 0%, 50%);
    --highlight-color: hsl(0, 0%, 80%);
    --opacity-transition-in: opacity 0.5s ease-in;
    --opacity-transition-out: opacity 0.3s ease-in;
  }